@model IEnumerable<DataBasePrac.Models.Member01>
@{
    ViewBag.Title = "Login";
}

<h2>登入</h2>

@using (Html.BeginForm("Login", "Member01", FormMethod.Post))
{
    <div class="panel panel-warning">
        <div class="panel-heading">登入</div>
        <div class="panel-body">
            <div class="form-group">
                <label>帳號</label>
                <input type="text" class="form-control" name="UserEmail">
            </div>
            <div class="form-group">
                <label>密碼</label>
                <input type="password" class="form-control" name="UserPwd">
            </div>
            <div>@ViewBag.ErrorMessage</div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" value="submit">登入</button>
        </div>
    </div>
}




